/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
}

.carousel {
  height: auto;
  width: 100%;
  border: none;
  overflow-x: scroll;
}

.itemcard {
  height: auto;
  display: flex;
  overflow-y: hidden;
}

.title-card {
  margin: 0;
  padding: 0;
}

.img-description {
  width: 50%;
}

.seccion {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.seccion:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: black;
}

.seccion>.seccion-inner {
  padding: 10px;
}

.seccion .header h2,
h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.seccion .header {
  margin-bottom: 5px;
}

.seccion img {
  width: 100%;
}

.seccion-link {
  text-decoration: none;
  color: black;
}

.btn-search {
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}

.btn-search:link,
.btn-search:visited {
  color: #fff;
}

.btn-search:active,
.btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}


/* .favs-menu {
    background-color: transparent;
    color: darkslategrey;
}

.favs-menu:hover {
    background-color: transparent;
    border-bottom: 1px solid burlywood;
    color: darkslategrey;
}

.dropdown-item:hover {
    background-color: white;
}

.dropdown-btn:hover {
    border: 0;
    color: darkred;
    cursor: pointer;
    font-size: larger;
} */