/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.form-control {
  display: block;
}

.single {
  width: 800px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.boton {
  width: 100px;
}
