/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.form-control {
  display: block;
}

.single {
  width: 800px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.boton {
  width: 100px;
  font-weight: bold;
}

.inputnavbar {
  height: 38px;
  margin-top: 8px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.paddingnavbar {
  padding: 0;
}

.botonsrch {
  height: 38px;
  margin-top: 7px;
}

a {
  text-decoration: none;
}
