.slideshow-items {
  width: 500px;
}
.slideshow-thumbnails {
  width: 100px;
}
#slideshow-items-container {
  display: inline-block;
  position: relative;
}

#lens {
  background-color: rgba(233, 233, 233, 0.4);
}
#lens,
#result {
  position: absolute;
  display: none;
  z-index: 1;
}
.slideshow-items {
  display: none;
}
.slideshow-items.active {
  display: block;
}
.slideshow-thumbnails {
  opacity: 0.5;
}
.slideshow-thumbnails.active {
  opacity: 1;
}
#lens,
.slideshow-items,
.slideshow-thumbnails,
#result {
  border: solid var(--light-grey-2) 1px;
}
