* {
  margin: 0;
  padding: 0;
}

.input-group {
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#container {
  display: flex;
  flex-direction: row;
}

#container1 {
  display: flex;
  width: 40%;
  background-color: blue;
  border-radius: 0 10px 10px 0;
}

#container1 h1 {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #ffffff;
}

option:first-of-type {
  background-color: rgba(224, 213, 213, 0.295);
}

#imagen {
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

#form {
  width: 500px;
}

textarea {
  resize: none;
}
<<<<<<< HEAD button:hover {
  opacity: 1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
*/

/* Change styles for cancel button and signup button on extra small screens 
@media screen and (max-width: 300px) {
<<<<<<< HEAD
	.cancelbtn,
	.signupbtn {
    width: 100%;
	}
}*/

.cancelbtn,
.signupbtn {
  width: 100%;
}
