body {

    background-color: #eee;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    border: none;
    border-bottom: 3px solid #000;
}


.nav-tabs>li>a {

    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom: 3px solid #000
}

.navbar {

    border-bottom: 1px solid #00000012;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background-color: #ffffff !important;
}

.navbar-brand {

    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 500;
}

.nav-tabs {
    border-bottom: none;
}

.card {

    border: none;

}

.card-body {
    flex: 1 1 auto;
    padding: 10px;
}

.card-text {

    font-size: 13px;
}

.guarantee {

    color: #05882c;
    margin-left: 4px;
    font-weight: 700
}

hr {
    margin: 0.2rem 0;
    color: #bfbebe;
}

.buttons button {

    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
}