.signup__button--register {
    background: #424242;
    border-radius: 0.3rem;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    letter-spacing: 1px;

}

.signup__button--register:hover {
    background-color: #1d1d1d;
    border-radius: 0.3rem;
    color: rgb(230, 230, 230);
    font-weight: bold;
    letter-spacing: 1px;
}



.signup__button--login {
    background: orange;
    border-radius: 0.3rem;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    letter-spacing: 1px;
}


.signup__button--login:hover {
    background-color:  rgb(255, 145, 0);
    border-radius: 0.3rem;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}